@import "tailwindcss";

:root {
  --bg: #050816;
  --card: #0b1020;
  --primary: #7c3aed;
  --secondary: #3b82f6;
  --text: #ffffff;
  --muted: #94a3b8;
}

body {
  font-family: var(--font-inter);
  background: #050816;
  color: white;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
}

/* ---------- Smooth Scrolling ---------- */

html {
  scroll-behavior: smooth;
}

/* ---------- Better Selection ---------- */

::selection {
  background: #7c3aed;
  color: white;
}

/* ---------- Scrollbar ---------- */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050816;
}

::-webkit-scrollbar-thumb {
  background: #7c3aed;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8b5cf6;
}

@keyframes gradientMove {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 300%;
  }
}

.animate-gradient {
  background-size: 300% 300%;
  animation: gradientMove 6s linear infinite;
}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-track{
background:#070816;
}

::-webkit-scrollbar-thumb{
background:linear-gradient(
180deg,
#8b5cf6,
#d946ef,
#22d3ee
);

border-radius:999px;
}

::-webkit-scrollbar-thumb:hover{
background:#8b5cf6;
}

/* Sidebar */

aside::-webkit-scrollbar{
    width:6px;
}

aside::-webkit-scrollbar-track{
    background:transparent;
}

aside::-webkit-scrollbar-thumb{

    background:linear-gradient(
        180deg,
        #8b5cf6,
        #22d3ee
    );

    border-radius:999px;
}